<div class="auth-container">
    <h2>Password Reset</h2>
    <p>Enter your reset token and a new password to reset your account password:</p>
    <form (ngSubmit)="onSubmit()" #passwordResetForm="ngForm">
        <div class="form-group">
            <label for="token">Token</label>
            <input type="text" id="token" name="token" class="form-control" [(ngModel)]="token" required />
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" [(ngModel)]="newPassword"
                required />
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="passwordResetForm.invalid">
            Reset Password
        </button>
        <p *ngIf="successMessage" class="success-message">
            {{ successMessage }} Redirecting to the login page...
        </p>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </form>
</div>